/* Font weights and style -----------------------*/
$regular: normal;
$strong: bold;
$italic: italic;

/* Main Display font classes -----------------------*/
.heading-1 {
  @include type-setting(3);
  font-weight: bold;
  color: $accent-yellow;
}

.heading-2 {
  @include type-setting(1);
  font-style: italic;
  color: $lite-alt-content;
  text-decoration: underline;
}

.general-content {
  @include type-setting(0);
  color: $lite-content;
}

.small-content {
  @include type-setting(-1);
  font-style: italic;
  color: $lite-alt-content;
}

/* Text Modifying Classes -----------------------*/
.bold {
  font-weight: $strong;
}

.italic {
  font-style: $italic;
}

.emphasis {
  color: $accent-yellow;
  font-weight: $strong;
  font-style: $italic;
}

/* Links & Nav Text -----------------------------*/
a {
  @include transition(color, border, background-color 0.3s ease-in-out);
  @include type-setting(0);
  text-decoration: none;
  color: solarized('yellow0');
  &:hover {
    color: solarized('violet0')
  }
}
