// Solarized by Ethan Schoonover (www.http://ethanschoonover.com/solarized)

// #002B36 (base03)
// #073642 (base02)
// #586E75 (base01)
// #657B83 (base00)
// #839496 (base0)
// #93A1A1 (base1)
// #EEE8D5 (base2)
// #FDF6E3 (base3)
// #B58900 (solar-yellow)
// #CB4B16 (solar-orange)
// #DC322F (solar-red)
// #D33682 (solar-magenta)
// #6C71C4 (solar-violet)
// #268BD2 (solar-blue)
// #2AA198 (solar-cyan)
// #859900 (solar-green)

// Light color pallette ----------------------
$lite-base-bg: rgb(253, 246, 227); // base3
$lite-alt-bg: rgb(238, 232, 213); // base2
$lite-content: rgb(101, 123, 131); // base00
$lite-alt-content: rgb(147, 161, 161); // base1
$accent-yellow: rgb(181, 137, 0);  // dark-goldenrod (yellow0)

// Dark color pallette -----------------
$dark-base-bg: rgb(0, 43, 54); // base03
$dark-alt-bg: rgb(7, 54, 66); // base02
$dark-content: rgb(88, 110, 117); // base01
$dark-alt-content: rgb(101, 123, 131); // base00
$accent-orange: rgb(203, 75, 22);  // sinopia (orange0)

// Other colors ---------------------
$accent-base0: rgb(131, 148, 150); // base0
$accent-red: rgb(220, 50, 47); // red0
$accent-magenta: rgb(211, 54, 130); // magenta0
$accent-violet: rgb(108, 113, 196); // violet0
$accent-blue: rgb(38, 139, 210); // blue0
$accent-cyan: rgb(42, 161, 152); //cyan0
$accent-green: rgb(133, 153, 0); //green0
